<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-block">
              <h1 class="card-title">Seja bem-vindo a Serveloja!</h1>
              <h4 class="card-subtitle">
                  Somos uma empresa de tecnologia, especializada em criar soluções para pequenos e micro empreendedores. 
                  Nosso objetivo é facilitar seu processo de vendas e auxiliar na gestão de seus negócios. 
                  Oferecemos a nossos clientes consultoria técnica, serviços financeiros e software com tecnologia de ponta e de fácil acesso.
              </h4>
              <h4 class="card-subtitle">
                Agora, gostaríamos de conhecê-lo melhor, e por isso, pedimos que você preencha o máximo de campos a seguir. 
                Não se preocupe, seus dados estarão seguros. Então, vamos começar?
              </h4>
              <a class="btn btn-success" routerLink="/cadastro" routerLinkActive="active">
                Clique aqui para prosseguir <i class="mdi mdi-arrow-right-bold-circle"></i>
              </a>
          </div>
      </div>
  </div>
</div>