<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-block">
              <h2 class="card-title">Informe um endereço</h2>

              <h4 class="card-subtitle" style="margin-bottom: 30px;">
                Informe um ou mais endereços.  
              </h4>

              <div class="clear"></div>

              <p>Os campos marcados com <b>(*)</b> são de preenchimento obrigatório.</p>
              <form novalidate name="formEndereco" [formGroup]="formEndereco" (ngSubmit)="formEndereco_submit(content)">
                  <div class="row" class="col-lg-12">
                      <div class="form-group"
                          [ngClass]="{
                              'has-danger': cep.invalid && (cep.dirty || cep.touched),
                              'has-success': cep.valid && (cep.dirty || cep.touched)
                          }">
                          <label class="titulo-input">CEP (*)</label>
                          <input type="text" class="form-control" formControlName="cep" placeholder="Digite apenas números" [textMask]="{mask: cepMask}" required>
                          <div class="form-control-feedback" *ngIf="cep.errors && (cep.dirty || cep.touched)">
                              <p *ngIf="cep.errors.required">Informe o CEP antes de continuar</p>
                          </div>
                      </div>
                  </div>
                  <div class="row" class="col-lg-12">
                    <div class="form-group"
                        [ngClass]="{
                            'has-danger': logradouro.invalid && (logradouro.dirty || logradouro.touched),
                            'has-success': logradouro.valid && (logradouro.dirty || logradouro.touched)
                        }">
                        <label class="titulo-input">Logradouro (*)</label>
                        <input type="text" name="logradouro" class="form-control" formControlName="logradouro" placeholder="Rua, Avenida etc." required>
                        <div class="form-control-feedback" *ngIf="logradouro.errors && (logradouro.dirty || logradouro.touched)">
                            <p *ngIf="logradouro.errors.required">Informe um endereço antes de continuar</p>
                        </div>
                    </div>
                  </div>
                  <div class="row" class="col-lg-12">
                      <div class="form-group">
                          <label class="titulo-input">Número</label>
                          <input type="numero" class="form-control" formControlName="numero" placeholder="Número da residência">
                      </div>
                  </div>
                  <div class="row" class="col-lg-12">
                    <div class="form-group"
                        [ngClass]="{
                            'has-danger': bairro.invalid && (bairro.dirty || bairro.touched),
                            'has-success': bairro.valid && (bairro.dirty || bairro.touched)
                        }">
                        <label class="titulo-input">Bairro (*)</label>
                        <input type="text" class="form-control" formControlName="bairro" placeholder="Informe o bairro" required>
                        <div class="form-control-feedback" *ngIf="bairro.errors && (bairro.dirty || bairro.touched)">
                            <p *ngIf="bairro.errors.required">Informe o bairro antes de continuar</p>
                        </div>
                    </div>
                  </div>
                  <div class="row" class="col-lg-12">
                    <div class="form-group">
                        <label class="titulo-input">Complemento</label>
                        <input type="complemento" class="form-control" formControlName="complemento" placeholder="Informe o complemento para o endereço">
                    </div>
                  </div>
                  <div class="row" class="col-lg-6">
                      <div class="form-actions">
                          <button type="submit" [disabled]="!formEndereco.valid" class="btn btn-success"><i class="fa fa-check"></i> Continuar</button>
                      </div>
                  </div>
              </form>

          </div>
      </div>
  </div>
</div>

<!-- modal -->
<div class="row">
  <div class="col-md-6">							
      <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">{{tituloOut}}</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <p>{{mensagemOut}}</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{botaoOut}}</button>
              </div>
          </div>
      </ng-template>
  </div>
</div>