<header class="topbar"> 
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
 
        <!-- logo -->
        <!-- <div class="navbar-header navbar-primary">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
                <img src="assets/images/serveloja.png" alt="homepage" class="dark-logo logo-full" />
                <img src="assets/images/logoserveloja.png" alt="homepage" class="dark-logo logo-icon" />
            </a>
        </div> -->

        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0 ">
                <img src="assets/images/servelojaBranco.png" alt="homepage" class="dark-logo logo-full" />
            </ul>
        </div>
    </nav>
</header>