.margin {
    margin: 20px 0px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    color: #666;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    border-radius: 3px;
}

.item .excluir {
    float: right;
    color: #f00;
    font-weight: 900;
    cursor: pointer;
}

.subtitulo {
    font-size: 0.75rem;
}